.login-card {
    margin-top: 1rem;
    width: 60%;
    height: 22vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px; /* Smoother corners */
  }
  
.login-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}
  
.login-header {
    /*margin-left: 20%;*/
    background-color: #f8f9fa;
    height: 15%;
    font-size: 1.5em; /* Fixed font size */
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 15px; /* Match corners to card */
    border-top-right-radius: 15px; /* Match corners to card */
}
  

.main-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-container {
    padding: 20px; /* Adjust padding as needed */
    /*margin-left: 20%;*/
}
  
button {
    /*padding: 20px; /* Adjust padding as needed */
    font-size: 1rem;
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background: var(--secondary);
}
  